@import "./navbar.css";
@import "./wrapper.css";
@import "./warzone.css";
@import "./footer.css";
@import "./news.css";

:root {
  --color-text: #444444;
  --bg: #181818;
  --image-email: url("https://lh3.googleusercontent.com/6HRiOVn2MEbmMb9I4CfkCAWkaIw20hbiXbOJZl_chRx8Y0c_yLwsgbmMeRmjbPnKShb3hcb4ln4NisKPAt8l1Xs2YY6AQuGpotO1qPbAHCT9ib74DOxJypN0_TnJxcCvwVt5jaX7_L1ipCbLuMhQVXY0YgiOWKAR6iupxSVd5N9xFhFCtMBALqNsbgss52mbZlEb76UmhMmloZdbLk8yIONN4a16yMtT6guZ9-vUWCNc01Vn8PiDqnXSaylns-ERSE52aH2AYiN1G-V9Z-O-SPm8E_Sg2oPKS1mLU_25R1PPDpQgWIroBJQUr4gBh__Hcdrh5YhOXv6q3ui-4wi3Yhvfkt_3bgnG7HXcJrIF1UhUCd8TJMBIEj8JBstck0-wopAyFOkg87qApC6HyIrSr6tiAtAEza_gxOaq6ZmsGX9-9Yra-NxsC-mZ-BhXUNtkGSBV2qN9tSmaEVZUquWVPEyMy6wwabxaXNgirlMlA72UscKdNewYPeIT5WjrGWEreVqSXMqu-OikCk3FukeP52olGdUeeoWL_ayuzboz_pMeutYMnrPik3zxNgDm-gfvsxETRe2G515OagH6UJ5_XwOyvmTe19XsXT7HShF5FiM3qF3p2a3rMjcFQMoPjn4-WJRq5cO5bqx-_M_l6RuL-XZrsbFDx-smDoCEiRt8KogrmHyMxF5cG0qefmtL9GKUxK4F-IXY-gSTn3gupfTX5Nu5lw_2tXYtVVfCT8jtSadAPDlfea87wIXKoZ--N7u4MuSl-SuWDJWS40ZCkmVsH1cnfJ8FhrijY9OKuN39ynLrarYxSa4d0QemV_haI-MVTH1gI5qmVONsvaACS5HbIqpkCsc7Hd_xZT39Q7BhCf45ZixtUL0ijq1kvfoqVW1AwfqRcwXBtRRbHbgIJZ50AXjtIJIbwOst1UVVb20OgOx_t--mHQ=w718-h509-s-no?authuser=0");
  --gray: #6b7280;
  --black: #202020;
  --white: #ffffff;
  --font: system-ui;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  background-image: var(--image-email);
  background-size: contain;
}
