@import "./navbar.css";
@import "./wrapper.css";
@import "./warzone.css";
@import "./footer.css";
@import "./news.css";

:root {
  --color-text: #444444;
  --bg: #181818;
  --image-email: url("https://lh3.googleusercontent.com/4Oyi3De7AtVivb2r1mWaRC3MTs-jMobhcBi9vfw3RQsyTHp_VMt1WpM9RQ8FTQ8m38v0GQ5OytzByr2Gs40Sg7PBMEHv0HyaREHnxZhlwM3hG7JAoro2TrND6Bk-UX1uO99Na6p1bvA=w2400");
  --gray: #6b7280;
  --black: #202020;
  --white: #ffffff;
  --font: system-ui;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  background-image: var(--image-email);
  background-size: contain;
  background-repeat: cover;
}
