.section-news {
  background-color: 202020;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.section-title {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
}

.card {
  background-color: #202020;
  border-radius: 20px;
  margin: 0px;
  transition: all ease 0.2s;
}

.card > p {
  padding: 7px;
  text-align: center;
  font-size: 100%;
}

.card {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 30px 2px #79c22a2c;
}
.container {
  max-width: 1200px;
  padding: 10px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: white;
  font-family: "TacticRound-Bld.ttf";
}

.container img {
  height: 80%;
  width: 100%;
  display: flex;
  border-radius: 20px 20px 0 0;
  margin-bottom: 3px;
}

@media (max-width: 683px) {
  .container {
    font-size: 20px;
    text-align: center;
  }
}
